SECRET_KEY=ЗАМЕНИ_НА_СЛУЧАЙНЫЙ_50_СИМВОЛОВ
DEBUG=False
ALLOWED_HOSTS=construction-platform.ru,www.construction-platform.ru
CSRF_TRUSTED_ORIGINS=https://construction-platform.ru,https://www.construction-platform.ru
# по умолчанию sqlite в /app/data. Для postgres:
# DATABASE_URL=postgres://user:pass@host:5432/dbname